* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
	display: flex;
	gap: 1rem;
}

.box {
	width: 100px;
	height: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	position: relative;
}

.rojo {
	background-color: red;
}

.azul {
	background-color: blue;
}

.amarillo {
	background-color: yellow;
}

.verde {
	background-color: green;
}

.naranja {
	background-color: orange;
}

.marron {
	background-color: brown;
}

.violeta {
	background-color: violet;
}

/** Transiciones */

.rojo {
	transition: transform 2s linear;
}

.rojo:hover {
	transform: translateY(-100px);
}

.azul {
	transition: transform 2s ease;
}

.azul:hover {
	transform: translateY(100px);
}

.verde {
	transition: transform 2s ease-in;
}

.verde:hover {
	transform: rotate(360deg);
}

.naranja {
	transition: transform 2s ease-out;
}

.naranja:hover {
	transform: scale(0.5);
}

.violeta {
	transition: transform 2s ease-in-out;
}

.violeta:hover {
	transform: scale(1.5);
}

.animacion {
	color: #000;
	text-align: center;
}

.animacion-1 {
	background-color: aquamarine;
	animation: desplazamiento 1s infinite ease-in;
}

@keyframes desplazamiento {
	0% {
		top: 0px;
		transform: scale(1);
	}
	25% {
		top: 50px;
		transform: scale(0.5);
	}
	50% {
		top: 100px;
		transform: scale(1);
	}
	75% {
		top: 50px;
		transform: scale(1.5);
	}
	100% {
		top: 0px;
		transform: scale(1);
	}
}

.animacion-2 {
	background-color: deeppink;
	animation: rotate 4s infinite linear;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animacion-3 {
	background-color: khaki;
	animation: cambiar-escala 2s infinite alternate ease-in;
}

@keyframes cambiar-escala {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}

.animacion-4 {
	background-color: coral;
	animation: parpadeo 2s infinite ease-in-out;
}

@keyframes parpadeo {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.animacion-5 {
	background-color: gray;
	animation: sacudir 1s infinite alternate ease-in-out;
}

@keyframes sacudir {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}

/*
Para agregar animacion o transición al momento de hacer click, agregar :active
también existen otros como: :hover, :active, :focus, :focus-within, :target, :visited, :focus-visible
*/

/*
Para hacer el ejercicio de animaciones 2 y 3, tener en cuenta la posicion relativa y absolute
hay que jugar con esas dos posiciones y el texto que será animado hay que ponerlo en un span
o div, pero span de preferencia
*/
