body {
	margin: 0;
}

.header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
}

.enlace {
	color: white;
}

.footer {
	padding: 10px;
}

#header {
	background-color: blueviolet;
}

#main {
	margin: 10px;
}

.input {
	background-color: transparent;
	width: 100%;
	padding: 0.5rem;
	border-width: 0px;
	border-bottom-width: 2px;
	border-bottom-color: #e5e7eb;
}

.input:focus {
	outline: none;
	border-bottom-color: #000;
}

.button {
	width: 100%;
	background-color: #000;
	color: white;
	border: 0;
	cursor: pointer;
	padding: 5px 10px;
}

.caja {
	position: sticky;
	top: 0px;
	background-color: red;
	color: white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
